# Token do Bot do Telegram (Obtenha com o @BotFather)
TELEGRAM_BOT_TOKEN=insira_seu_token_aqui

# Lista de IDs de usuários autorizados separados por vírgula (Ex: 12345678,98765432)
# Descubra seu ID enviando uma mensagem para o bot @userinfobot no Telegram
TELEGRAM_AUTHORIZED_USER_IDS=insira_seus_ids_aqui
